In [ ]:
import numpy as np
import pandas as pd

In [ ]:
my_dates = pd.date_range(start='2017-01-01', periods = 350, freq='45min')
df = pd.DataFrame(index=my_dates)
df.index.name = 'time'
df['stock_name'] = ['ABC', 'XYZ'] * int(350/2)
df['price'] = (np.random.rand(350) * 350).round(2)
df.head(10)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 350 entries, 2017-01-01 00:00:00 to 2017-01-11 21:45:00
Freq: 45T
Data columns (total 2 columns):
stock_name    350 non-null object
price         350 non-null float64
dtypes: float64(1), object(1)
memory usage: 8.2+ KB

In [13]:
by_hour = df['price'].resample('H').ohlc()
by_hour.head()

                       open    high     low   close
time
2017-01-01 00:00:00   47.06  220.87   47.06  220.87
2017-01-01 01:00:00   17.39   17.39   17.39   17.39
2017-01-01 02:00:00  124.52  124.52  124.52  124.52
2017-01-01 03:00:00  120.21  120.21   61.82   61.82
2017-01-01 04:00:00  283.81  283.81  283.81  283.81